div.module ul {
    list-style: none;
}

div.module ul li {
    padding-bottom: 13px;
    padding-left: 20px;
    background-image: url(/static/ilsgateway/images/exclamation_trans_bg_icon.gif);
    background-repeat: no-repeat;
    background-position: 0 0;
}

span.r_and_r_not_submitted_facility_to_district, 
span.delivery_not_received_facility, 
span.r_and_r_reminder_sent_facility, 
span.delivery_received_reminder_sent_facility,
span.zero_count,
span.no_delivery_status_reported {
   color: red;
}

span.not_reported,
span.insufficient_data {
   color: gray;
}