{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %} 

{% block content %}
<div class="module">
    <h3>Mtwara Region / <a href="{% url ilsgateway.views.districts_detail district.id %}">{{ district.name }}</a> / <a href="/facilities">Facilities</a></h3>
    <table>
        <thead>
            <th>MSD Code</th>
            <th>Name</th>
            {% for facility in facilities %}
            <th>{{ product.name }}</th>
        </thead>
        <tbody>
            {% for facility in facilities %}
            <tr>
                <td><a href="{% url ilsgateway.views.facilities_detail facility.id %}">{{ facility.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}