{% extends "base.html" %}
{% load i18n %}

{% block title %}Ordering Status{{ block.super }}{% endblock %}

{% block content %}
<div class="crumbs">{% for title, href in breadcrumbs %}{% if not forloop.first %} &raquo; {% endif %}{% if href %}<a href="{{href}}">{{ title }}</a>{% else %}{{ title }}{% endif %}{% endfor %}</div>
<div style="clear:both;">&nbsp;</div>
<div class="module">
    <h2>{% trans 'Ordering Status' %}</h2>
    <table>
        <thead>
            <th>MSD Code</th>
            <th>Delivery Group</th>
            <th>Name</th>
            <th>R&amp;R Status</th>
            <th>Date</th>
            <th>Delivery Status</th>
            <th>Date</th>
        </thead>
        <tbody>
            {% for facility in facilities %}
            <tr>
                <td>{{ facility.msd_code }}</td>
                <td>{{ facility.delivery_group.name }}</td>
                <td><a href="{% url ilsgateway.views.facilities_detail facility.id %}">{{ facility.name }}</a></td>
                <td><span class="{{ facility.randr_status.status_type.short_name }}">{{ facility.randr_status.status_type.name }}</span></td>
                <td><span class="{{ facility.randr_status.status_type.short_name }}">{{ facility.randr_status.status_date }}</span></td>
                <td><span class="{{ facility.delivery_status.status_type.short_name }}">{{ facility.delivery_status.status_type.name }}</span></td>
                <td><span class="{{ facility.delivery_status.status_type.short_name }}">{{ facility.delivery_status.status_date }}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}