{% extends "base.html" %}

{% block title %}{{ facility.name }} Detail{% endblock %}

{% block stylesheets %}
{{ block.super }}
    <link type="text/css" rel="stylesheet" href="/static/ilsgateway/stylesheets/ilsgateway.css" />
{% endblock %}

{% block content %}
<div class="crumbs">{% for title, href in breadcrumbs %}{% if not forloop.first %} &raquo; {% endif %}{% if href %}<a href="{{href}}">{{ title }}</a>{% else %}{{ title }}{% endif %}{% endfor %}</div>
<div style="clear:both;">&nbsp;</div>

<div class="split-2">
    <div class="left">
        <div class="module">
            <h2>{{ facility.name }} ({{ facility.msd_code }})</h2>
            <div class="toolbar">
                <a href="{% url locations facility.uid %}">see on map</a>
            </div>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Primary</th>
                </thead>
                <tbody>
                    {% for contact in facility.parent.contactdetail_set.all %}
                    <tr class="">
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.role }}</td>
                        <td>{{ contact.phone }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.primary }}</td>
                    </tr>
                    {% endfor %}
                    {% for contact in facility.contactdetail_set.all %}
                    <tr class="">
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.role }}</td>
                        <td>{{ contact.phone }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.primary }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br />
            <span style="margin-top:10px;"><a href="{% url registration %}">Add a contact &raquo;</a></span>
        </div>
        <div class="module">
            <h2>Inventory History</h2>
            <div class="toolbar">
                {% if view_type == 'inventory' %}<a href="/facilities/{{ facility.id }}/months_of_stock/">show months of stock</a>
                {% else %}<a href="/facilities/{{ facility.id}}/inventory/">show stock levels</a>{% endif %}
            </div>
            <div class="inventorySMS">
                <p>Last SMS message received:</p>
            {% if facility.last_message_received %}
                <p><i>&raquo;"{{ facility.last_message_received.text }}"</i></p>
                <p>{{ facility.stock_on_hand_last_reported }} by {{ facility.last_message_received.contact.contactdetail.role }} {{ facility.last_message_received.contact }}</p>
                <p><a href="/facilities/{{ facility.id }}/message_history/">See complete SMS message history &raquo;</a></p>
            {% else %}
                <p>No inventory messages have been received</p>
            {% endif %}    
            </div>
            <table>
                <thead>
                    <th>Product</th>
                    <th>{% if view_type == 'inventory' %}Stock on Hand{% else %}Months of Stock{% endif %}</th>
                </thead>
                <tbody>
                {% if view_type == 'inventory' %}
                    <tr><td>Implants</td><td>{{ facility.stock_on_hand_imp }}</td></tr>
                    <tr><td>Progesterone only Pills</td><td>{{ facility.stock_on_hand_pop }}</td></tr>
                    <tr><td>Condoms</td><td>{{ facility.stock_on_hand_con }}</td></tr>
                    <tr><td>Injectables</td><td>{{ facility.stock_on_hand_inj }}</td></tr>
                    <tr><td>Combined Oral Contraceptives</td><td>{{ facility.stock_on_hand_coc }}</td></tr>
                    <tr><td>IUD</td><td>{{ facility.stock_on_hand_iud }}</td></tr>
                {% else %}
                    <tr><td>Implants</td><td>{% if quantity == None %}Insufficient data{% else %}{{ facility.months_of_stock_imp }}{% endif %}</td></tr>
                    <tr><td>Progesterone only Pills</td><td>{% if quantity == None %}Insufficient data{% else %}{{ facility.months_of_stock_pop }}{% endif %}</td></tr>
                    <tr><td>Condoms</td><td>{% if quantity == None %}Insufficient data{% else %}{{ facility.months_of_stock_con }}{% endif %}</td></tr>
                    <tr><td>Injectables</td><td>{% if quantity == None %}Insufficient data{% else %}{{ facility.months_of_stock_inj }}{% endif %}</td></tr>
                    <tr><td>Combined Oral Contraceptives</td><td>{% if quantity == None %}Insufficient data{% else %}{{ facility.months_of_stock_coc }}{% endif %}</td></tr>
                    <tr><td>IUD</td><td>{% if quantity == None %}Insufficient data{% else %}{{ facility.months_of_stock_iud }}{% endif %}</td></tr>        
                {% endif %}
                </tbody>
            </table>            
        </div>
        <div class="module">
            <h2>R &amp; R History</h2>
            <div class="toolbar">
                <a href="">see all R&amp;R history</a>
            </div>
            {% if facility.randr_status %}
            <p>
                Status: <span class="{{ facility.randr_status.status_type.short_name }}">{{ facility.randr_status }}</span>
            </p>
            <p>
                Last updated on: <span class="{{ facility.randr_status.status_type.short_name }}">{{ facility.randr_status.status_date }}</span>
            </p>
            {% else %}
            <p>
                 <span class="no_delivery_status_reported">No delivery status reported</a>
            </p>
            {% endif %}
            </p>
            <p><a href="/docdownload/{{ facility.id }}">Download most recent R&amp;R &raquo;</a></p>
        </div>
    </div>
    <div class="right">
        <div class="module">
            <h2>Notes</h2>
            <div class="toolbar">
                <a href="{% url ilsgateway.views.note_history facility.id %}">see all notes</a>
            </div>
        {% for note in notes %}
            <div class="recentNote">
                <p class="noteText">&raquo; "{{ note.text }}"</span></p>
                <p class="noteByLine">{{ note.created_at }} by {{ note.contact_detail.name }}
            </div> 
        {% endfor %}
            <form action="{% url ilsgateway.views.facilities_detail facility.id %}" method="post">
            <p>Enter a note for this facility:</p>
            {{ form.as_p }}
            <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>
{% endblock %}