{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<style type="text/css">
    #inner {
        #margin: 4em 25%;
    }

    div.module div {
        border: 1px solid #ddd;
        border-top-color: #636363;
        margin-top: -1px;
    }

    div.module p {
        padding-left: 1em;
        padding-right: 1em;
    }

    code, pre {
        background: #ffe;
    }

    pre {
        padding: 1em;
        margin: 0;
    }
    
    /* only a single h1 per view */
    #inner h1 {
        color: #ccc;
        font-size: 2em;
        line-height: 1;
        font-weight: normal;
        margin: 0.5em 0 1em 0;
        text-shadow: #eee 2px 2px 2px;
    }

    #inner h1 a {
        color: #000;
        #text-decoration: none;
    }    
</style>

<h1>Current Stock Status | <a href="/facilities/ordering">Ordering Status</a></h1>

<div class="module">
    <h3>Mtwara Region / <a href="/facilities">Masasi</a> / <a href="/facilities">Facilities</a></h3>
    <table>
        <thead>
            <th>MSD Code</th>
            <th>Delivery Group</th>
            <th>Name</th>
          {% for product in products %}
            <th>{{ product.name }}</th>
          {% endfor %}            
        </thead>
        <tbody>
            {% for facility in facilities %}
            <tr>
                <td>{{ facility.msd_code }}</td>
                <td>{{ facility.delivery_group.name }}</td>
                <td><a href="{% url ilsgateway.views.facilities_detail facility.id %}">{{ facility.name }}</a></td>
                <td>122</td>
                <td>242</td>
                <td>544</td>
                <td>454</td>
                <td>333</td>
                <td>3</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}