{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h3>{{ facility.name }}</h3> 
    <table>
        <thead>
            <th>Product</th>
            <th>Months of Stock</th>
            <th>Last SMS Received</th>
            <th>Last scanned R&amp;R</th>
        </thead>
        <tbody>
            {% for product in facility.get_products %}
            <tr>
                <td>{{ product.name }}</td><td>3</td><td><a href="">2/1/2010</a></td><td><a href="/static/ilsgateway/images/randr-sample.pdf">Scanned 02/09/2010</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

