{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h2>Current Stock Status</h2>
{% if view_type == 'inventory' %}<a href="/facilities/months_of_stock/">Show months of stock</a>{% else %}<a href="/facilities/inventory/">Show inventory</a>{% endif %}</>
<div class="module">
    <h3>{{ sdp.parent_service_delivery_point.name }} / {{ sdp.name }} / FACILITIES</h3>
    <table>
        <thead>
            <th>MSD Code</th>
            <th>Delivery Group</th>
            <th>Name</th>
          {% for product in products %}
            <th>{{ product.name }}</th>
          {% endfor %}            
        </thead>
        <tbody>
            {% for facility in facilities_dict %}
            <tr>
                <td>{{ facility.msd_code }}</td>
                <td>{{ facility.delivery_group }}</td>
                <td><a href="{% url ilsgateway.views.facilities_detail facility.id %}">{{ facility.name }}</a></td>
            {% if view_type == 'inventory' %}
                {% for quantity in facility.stock_levels %}
                    <td><span class="{% if quantity == 0 %}zero_count{% else %}{% if not quantity %}not_reported{% endif %}{% endif %}">{{quantity}}</span></td>
                {% endfor %}
            {% else %}
                {% for quantity in facility.stock_levels %}
                    <td><span class="{% if quantity == 0 %}zero_count{% else %}{% if not quantity %}insufficient_data{% endif %}{% endif %}">{% if not quantity %}insufficient data{% else %}{{quantity}}{% endif %}</span></td>
                {% endfor %}
            {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}