{% extends "base.html" %}
{% load i18n %}

{% block title %}Ordering Status{{ block.super }}{% endblock %}

{% block content %}
<div class="crumbs">{% for title, href in breadcrumbs %}{% if not forloop.first %} &raquo; {% endif %}{% if href %}<a href="{{href}}">{{ title }}</a>{% else %}{{ title }}{% endif %}{% endfor %}</div>
<div style="clear:both;">&nbsp;</div>
<div class="module">
    <h2>{% trans 'Ordering Status' %}</h2>
    <table>
        <thead>
            <th>{% trans 'MSD Code' %}</th>
            <th>{% trans 'Delivery Group' %}</th>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'R&amp;R Status' %}</th>
            <th>{% trans 'Date' %}</th>
            <th>{% trans 'Delivery Status' %}</th>
            <th>{% trans 'Date' %}</th>
        </thead>
        <tbody>
            {% for facility in facilities %}
            <tr>
                <td>{{ facility.msd_code }}</td>
                <td>{{ facility.delivery_group.name }}</td>
                <td><a href="{% url ilsgateway.views.facilities_detail facility.id %}">{{ facility.name }}</a></td>
                <td><span class="{{ facility.randr_status.status_type.short_name }}">{% blocktrans with facility.randr_status.status_type.name as status %}{{ status }}{% endblocktrans %}</span></td>
                <td><span class="{{ facility.randr_status.status_type.short_name }}">{% blocktrans with facility.randr_status.status_date as status %}{{ status }}{% endblocktrans %}</span></td>
                <td><span class="{{ facility.delivery_status.status_type.short_name }}">{% blocktrans with facility.delivery_status.status_type.name as status %}{{ status }}{% endblocktrans %}</span></td>
                <td><span class="{{ facility.delivery_status.status_type.short_name }}">{% blocktrans with facility.delivery_status.status_date as status %}{{ status }}{% endblocktrans %}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}