{% extends "base.html" %}
{% load i18n %}

{% block title %}Dashboard{{ block.super }}{% endblock %}
{% block javascripts %}
    <!--[if IE]><script language="javascript" type="text/javascript" src="/static/ilsgateway/javascripts/excanvas.js"></script><![endif]-->
{{ block.super }}
    <script language="javascript" type="text/javascript" src="/static/ilsgateway/javascripts/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="/static/ilsgateway/javascripts/jquery.flot.pie.js"></script>
    <script language="javascript" type="text/javascript" src="/static/ilsgateway/javascripts/jquery.flot.stack.js"></script>
    <script language="javascript">
        $(document).ready(function() {                                       
            var data = [
                { label: "{% trans 'Submitted' %}",  data: {{ sdp.child_sdps_submitted_randr_this_month }}, color: "green", description: "This is a description"},
                { label: "{% blocktrans %}Haven't Submitted{% endblocktrans %}",  data: {{ sdp.child_sdps_not_submitted_randr_this_month }}, color: "red" },
                { label: "{% blocktrans %}Didn't Respond{% endblocktrans %}",  data: {{ sdp.child_sdps_not_responded_randr_this_month }}, color: "purple" },
                //{ label: "{% trans 'No Contact Info' %}",  data: {{ sdp.count_child_sdps_submitting_no_primary_contact }}, color: "blue" },
                { label: "{% trans 'No Reminder Sent' %}",  data: {{ sdp.count_child_sdps_no_randr_reminder_sent }}, color: "orange" }
            ]
            // Pie chart
            
            function pieHover(event, pos, obj) 
            {
                percent = parseFloat(obj.series.percent).toFixed(0);
                if(obj.series.label=="{% trans 'Submitted' %}"){
                    $("#hover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+percent+'% of Facilities Reported their R&R submitted this month</span>');
                }
                else if(obj.series.label=="{% blocktrans %}Haven't Submitted{% endblocktrans %}"){
                    $("#hover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+percent+'% of Facilities Reported not submitting their R&R this month</span>');
                }
                else if(obj.series.label=="{% blocktrans %}Didn't Respond{% endblocktrans %}"){
                    $("#hover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+percent+'% of Facilities did not respond to the R&R inquiry this month</span>');
                }
                else if(obj.series.label=='{% blocktrans %}No Reminder Sent{% endblocktrans %}'){
                    $("#hover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+percent+'% of Facilities did not receive an R&R reminder inquiry this month</span>');
                }
            }

            if({{ sdp.child_sdps_submitting.count }} > 0){
                $.plot($("#placeholder"), data, 
                {
                    series: {
                        pie: { 
                            show: true,
                            radius: 1,
                            label: {
                                show: true,
                                radius: .5,
                                formatter: function(label, series){
                                    return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                                },
                                background: { opacity: 0.8 }
                            }                        
                        }
                    },
                    grid: {
                        hoverable: true
                    },
                    legend: {
                        show: false
                    }
                });         
            }else{
                  $('#placeholder').html("<h4 style=\"text-align:center;\">No Facilities Submitting R&R for this period</h4>");            
            };
            $("#placeholder").bind("plothover", pieHover);
                                            
            // Bar chart
            bar_options = {                     
               series: {
                 stack: true,
                 lines: { show: false, steps: false },
                 bars: { show: true, barWidth: 1 }
               },
               xaxis: { 
                       ticks: {{ bar_ticks|safe }},
                       max: {{ max_product_count }}
                      }, 
               legend: {show: true, container: $("#legend"), noColumns: 3},
               yaxis: {max: {{ max_stockout_graph }},
                       tickDecimals: 0 },
               grid: {show: true,
                      tickColor: 'gray',
                      backgroundColor: '#FFFFFF',
                      hoverable: true,
                      autoHighlight:true}
            };
            $.plot($("#placeholder2"), {{ bar_data|safe }}, bar_options);    
        });
</script>
{% endblock %}

{% block content %}
<div class="crumbs">{% for title, href in breadcrumbs %}{% if not forloop.first %} &raquo; {% endif %}{% if href %}<a href="{{href}}">{{ title }}</a>{% else %}{{ title }}{% endif %}{% endfor %}</div>
<div class="welcome">{% trans 'Welcome' %}, {{ user.username }}</div>
<div style="clear:both;">&nbsp;</div>
{% if is_allowed_to_change_location %}
<div>
    <form action="/" method="post">
    {% trans 'Change location' %}: {{ form.location }}
    <input type="submit" value="{% trans "Change" %}" />
    </form>
</div>
{% endif %}
<div class="module">
    <h2>{% trans 'Alerts' %}</h2>
    <div style="height:200px;overflow:scroll;">
        <ul class="alerts"">
            {% if sdp.child_sdps_not_submitted_randr_this_month %}<li><a href="{% url ordering %}">{{ sdp.child_sdps_not_submitted_randr_this_month }} {% trans 'Facilities' %}</a> {% trans 'have reported not submitting their R&amp;R form as of today.' %}</li>{% endif %}
            {% if sdp.child_sdps_not_responded_randr_this_month %}<li><a href="{% url ordering %}">{{ sdp.child_sdps_not_responded_randr_this_month }} {% trans 'Facilities' %}</a> {% trans 'did not respond to the SMS asking if they had submitted their R&amp;R form.'%}</li>{% endif %}
            {% if sdp.child_sdps_not_responded_soh_this_month > 0 %}<li><a href="/facilities/inventory">{{ sdp.child_sdps_not_responded_soh_this_month }} {% trans 'Facilities' %}</a> {% trans 'have not reported their stock levels for last month.' %}</li>{% endif %}
            {% if sdp.child_sdps_not_received_delivery_this_month %}<li><a href="{% url ordering %}">{{ sdp.child_sdps_not_received_delivery_this_month }} {% trans 'Facilities' %}</a> {% trans 'have reported not receiving their deliveries as of today.' %}</li>{% endif %}
            {% if sdp.child_sdps_not_responded_delivery_this_month > 0 %}<li><a href="{% url ordering %}">{{ sdp.child_sdps_not_responded_delivery_this_month }} {% trans 'Facilities' %}</a> {% trans 'did not respond to the SMS asking if they had received their delivery.' %}</li>{% endif %}
            {% for product, facilities in stockouts_by_product %}{% for facility in facilities %}
                <li><a href="{% url ilsgateway.views.facilities_detail facility.id %}">{% blocktrans with facility.name as name %}{{ name }} is stocked out of {{ product }}{% endblocktrans %}</a>.</li>
            {% endfor %}{% endfor %}
            {% for facility in facilities_without_primary_contacts %}
                <li><a href="{% url ilsgateway.views.facilities_detail facility.id %}">{{ facility.name }}</a> {% trans 'has no primary contact' %}.  <a href="{% url registration %}">{% trans 'Register someone now' %} &raquo;</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="split-3">
    <div class="left">
        <div class="module">
            <h2>{% trans 'R&amp;R Submission Summary' %}</h2>
            <!--<div class="toolbar">
                <a href="">{% trans 'All Reports'%}</a>
            </div>-->
            <div id="placeholder" style="width:300px;height:300px;margin-top:50px;" title="{% trans "This graph represents the R&R submission Summary for the current district." %}"></div>
            <div id="hover" style="text-align:center;">&nbsp;</div>
        </div>
    </div>
    <div class="mid">
        <div class="module">
            <h2>{% trans 'Product Availability Summary' %}</h2>
            <!--<div class="toolbar">
                <a href="">All Stats</a>
            </div>-->
            <div id="legend" style="margin-bottom: 5px;">&nbsp;</div>
            <div>Number of Facilities</div>
            <a href="{% url ilsgateway.views.facilities_index %}"><div id="placeholder2" style="margin-left:10px;width:300px;height:300px;" title="{% trans "This graph represents the Product Availability Summary for the current district." %}"></div></a>
            <div style="padding-top:7px;text-align:center;">Products</div>
        </div>
    </div>
    <div class="right">
        <div class="module">
            <h2>{% trans 'District Summary' %}</h2>
            <!--<div class="toolbar">
                <a href="">All Stats</a>
            </div>-->
            <ul class="stats">
                <li>
                    <div class="report">{{ counts.total }}</div>
                    <div class="caption"><a href="{% url ordering %}">{% trans 'Facilities' %}</a></div>
                </li>
                <li>
                    <div class="report">Group {{ groups.current_submitting_group }}: {% trans 'Submitting' %}</div>
                    <div class="caption">{% blocktrans with sdp.child_sdps_submitted_randr_this_month as submitted and counts.current_submitting_group as count %}{{ submitted }} of {{ count }}{% endblocktrans %} <a href="{% url ordering %}">{% trans 'submitted' %}</a></div>
                </li>
                <li>
                    <div class="report">Group {{ groups.current_processing_group }}: {% trans 'Processing' %}</div>
                    <div class="caption">{% blocktrans with sdp.child_sdps_processing_sent_to_msd as processed and counts.current_processing_group as count %}{{ processed }} of {{ count }} forms sent to MSD{% endblocktrans %}</div>
                </li>
                <li>
                    <div class="report">Group {{ groups.current_delivering_group }}: {% trans "Deliveries" %}</div>
                    <div class="caption">{% blocktrans with sdp.child_sdps_received_delivery_this_month as delivered and counts.current_delivering_group as count %}{{ delivered }} of {{ count }}{% endblocktrans %} <a href="{% url ordering %}">{% trans 'delivered' %}</a></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="clear-hack"></div>
{% endblock %}

