{% extends "base.html" %}
{% load i18n %}

{% block title %}Dashboard{% endblock %}
{% block javascripts %}
    <!--[if IE]><script language="javascript" type="text/javascript" src="/static/ilsgateway/javascripts/excanvas.js"></script><![endif]-->
{{ block.super }}
    <script language="javascript" type="text/javascript" src="/static/ilsgateway/javascripts/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="/static/ilsgateway/javascripts/jquery.flot.stack.js"></script>
    <script language="javascript">
        $(document).ready(function() {    

            var d1 = [[0, {{ sdp.child_sdps_submitted_randr_this_month }}]];
            var d2 = [[2, {{ sdp.child_sdps_not_submitted_randr_this_month }}]];
            var d3 = [[4, {{ sdp.child_sdps_not_responded_randr_this_month }}]];
                                
            $.plot($("#placeholder"), [
                {
                    data: d1,
                    bars: { show: true},
                    xaxis: 1,
                    fillColor: "red", 
                },
                {
                    data: d2,
                    bars: { show: true},
                    xaxis: 1,
                    fillColor: "blue"             
                },
                {
                    data: d3,
                    bars: { show: true},
                    xaxis: 1,
                    fillColor: "green"             
                }
            ],
                {
                    xaxis: { ticks: [[.5, "Submitted"], [2.5, "Haven't Submitted"], [4.5, "Didn't Respond"]]},
                    legend: {position: "nw"}
                }
            );
            bar_options = {                     
               series: {
                 stack: true,
                 lines: { show: false, steps: false },
                 bars: { show: true, barWidth: 1 }
               },
               xaxis: { 
                       ticks: {{ bar_ticks|safe }},
                       max: 12
                      }, 
               legend: {show: true, position: 'nw'},
               yaxis: {max: {{ max_stockout_graph }} }
            };
            $.plot($("#placeholder2"), {{ bar_data|safe }}, bar_options);    
        });
</script>
{% endblock %}

{% block content %}

<h2>{% trans 'Welcome' %}, {{ user.username }}</h2>
<div>{% trans 'Language' %}: {{ language }} <a href="/change_language">change language</a></div>
<div class="module">
    <h3>{% trans 'District' %} {{ sdp.name }} <a href="">Select a different district</a></h3>
    
    <h4>{% trans 'Alerts' %}</h4>
    <ul>
        {% if sdp.child_sdps_not_submitted_randr_this_month %}<li><a href="{% url ordering %}">{{ sdp.child_sdps_not_submitted_randr_this_month }} Facilities</a> have reported not submitting their R &amp; R form as of today.</li>{% endif %}
        {% if sdp.child_sdps_not_responded_randr_this_month %}<li><a href="{% url ordering %}">{{ sdp.child_sdps_not_responded_randr_this_month }} Facilities</a> did not respond to the SMS on {{ randr_inquiry_date|date:"j N Y" }} asking if they had submitted their R&amp;R form.</li>{% endif %}
        {% if sdp.child_sdps_not_responded_soh_this_month %}<li><a href="{% url ordering %}">{{ sdp.child_sdps_not_responded_soh_this_month }} Facilities</a> have not reported their stock levels for {{ soh_inquiry_date|date:"j N Y" }}.</li>{% endif %}
        {% if sdp.child_sdps_not_received_delivery_this_month %}<li><a href="{% url ordering %}">{{ sdp.child_sdps_not_received_delivery_this_month }} Facilities</a> have reported not receiving their deliveries as of today.</li>{% endif %}
        {% if sdp.child_sdps_not_responded_delivery_this_month %}<li><a href="{% url ordering %}">{{ sdp.child_sdps_not_responded_delivery_this_month }} Facilities</a> did not respond to the SMS on {{ delivery_inquiry_date|date:"j N Y" }} asking if they had received their delivery.</li>{% endif %}
        {% for facility in facilities_without_primary_contacts %}
            <li><a href="{% url ilsgateway.views.facilities_detail facility.id %}">{{ facility.name }}</a> has no primary contact.  <a href="{% url registration %}">Register someone now &raquo;</a></li>
        {% endfor %}
    </ul>
</div>
    <div class="module" style="float:left;margin-right:30px;">
        <h3 align="center">R&amp;R Submission Summary</h3>
        <div id="placeholder" style="width:300px;height:300px;"></div>
    </div>
    <div class="module" style="float:left;margin-right:30px;">
        <h3 align="center">Product Availability Summary - Stockouts</h3>
        <div id="placeholder2" style="width:300px;height:300px;"></div>
    </div>
    <div class="module" style="float:left;text-align:center;width:250px;">
        <h3 align="center">District Summary</h3>
        <span style="font-size:3em;">{{ counts.total }}</span><span style="font-size:2em;padding-left:5px;">facilities</span><div style="clear:both;">&nbsp;</div>
        <span style="font-size:1.5em;">Group {{ groups.current_submitting_group }}</span><span style="font-size:1.5em;padding-left:5px;">submitting</span><div style="clear:both;">&nbsp;</div>
        <span style="font-size:1.25em;">&raquo;{{ sdp.child_sdps_submitted_randr_this_month }} of {{ counts.current_submitting_group }} submitted</span><div style="clear:both;">&nbsp;</div>
        <span style="font-size:1.5em;">Group {{ groups.current_processing_group }}</span><span style="font-size:1.5em;padding-left:5px;">processing</span><div style="clear:both;">&nbsp;</div>
        <span style="font-size:1.25em;">&raquo;{{ sdp.child_sdps_processing_sent_to_msd }} of {{ counts.current_processing_group }} forms sent to MSD</span><div style="clear:both;">&nbsp;</div>
        <span style="font-size:1.5em;">Group {{ groups.current_delivering_group }}</span><span style="font-size:1.5em;padding-left:5px;">delivering</span><div style="clear:both;">&nbsp;</div>
        <span style="font-size:1.25em;">&raquo;{{ sdp.child_sdps_submitted_randr_this_month }} of {{ counts.current_delivering_group }} delivered</span><div style="clear:both;">&nbsp;</div>
        <h4>Reported Stock via SMS</h4>
        <p>This month: {{ sdp.child_sdps_percentage_reporting_stock_this_month }}%</p>
        <p>Last month: {{ sdp.child_sdps_percentage_reporting_stock_last_month }}%</p> 
    </div>
{% endblock %}

