{% extends "base.html" %}

{% block title %}{{ facility.name }} {% trans 'Message History' %}{{ block.super }}{% endblock %}

{% block content %}
<div class="crumbs">{% for title, href in breadcrumbs %}{% if not forloop.first %} &raquo; {% endif %}{% if href %}<a href="{{href}}">{{ title }}</a>{% else %}{{ title }}{% endif %}{% endfor %}</div>
<div style="clear:both;">&nbsp;</div>
<div class="module">
{% if messages %}
    <table>
        <thead>
            <th>{% trans 'Sender' %}</th>
            <th>{% trans 'Role' %}</th>
            <th>{% trans 'Phone' %}</th>
            <th>{% trans 'Date' %}</th>
            <th>{% trans 'Text' %}</th>
        </thead>
        <tbody>
            {% for msg in messages %}
            <tr>            
                <td>{{ msg.who }}</td>
                <td>{% blocktrans with msg.contact.contactdetail.role as role %}{{ role }}{% endblocktrans %}</td>
                <td>{{ msg.contact.contactdetail.phone }}</td>
                <td>{{ msg.date }}</td>
                <td><i>{{ msg.text }}</i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans 'No messages' %}.</p>
{% endif %}
</div>
{% endblock %}