{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ facility.name }} {% trans 'Message History' %}{{ block.super }}{% endblock %}

{% block content %}
<div class="crumbs">{% for title, href in breadcrumbs %}{% if not forloop.first %} &raquo; {% endif %}{% if href %}<a href="{{href}}">{{ title }}</a>{% else %}{{ title }}{% endif %}{% endfor %}</div>
<div style="clear:both;">&nbsp;</div>
<div class="module">

{% if messages %}
    {{ message_history_table.as_html }}
{% else %}
    <p>{% trans 'No messages' %}.</p>
{% endif %}
</div>
{% endblock %}